@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}
  
  /* HEADER */
  
  .header-section-1 {
    text-align: right;
    background-color: #231f20;
  }
  .father-login {
    margin-right: 125px;
  }
  .login {
    color: white;
    width: 100%;
    height: 31px;
    padding-top: 10px;
  }
  .login a {
    color: white;
  }
  .header-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
  }
  .search input {
    width: 414px;
    height: 44px;
    border: 1px solid #959595;
    padding-left: 5px;
    opacity: 1;
  }
  .search button {
    font-weight: bold;
    font-size: 16px;
    width: 110px;
    height: 44px;
    opacity: 1;
    background: #cb0d1f;
    letter-spacing: -0.8px;
    color: #ffffff;
    cursor: pointer;
    border: none;
  }
  
  /* HEAD */
  
  #head {
    background-color: #cb0d1f;
    height: 54px;
    font-size: 16px;
    font-weight: bold;
  }
  #head ul {
    padding: 15px 290px;
    margin: 0px;
    list-style: none;
  }
  #head ul li {
    display: inline;
    text-align: center;
  }
  #head ul li a {
    padding: 2px 60px 2px 80px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #head ul li a:hover {
    text-decoration: underline;
  }
  
  /* CATEGORY // FILTER */
.category {
    display: flex;
  }
#father-filters {
    margin: 69px 0px 867px 100px;
    width: 261px;
    height: 474px;
    background-color:#E2DEDC;
  }
.filters ul{
      margin: 22px 0px 0px 30px;

  }
.filters ul li{
      margin-top: 5px;
  }
.filters ul li a{
      color:#000000;
      font-size: 18px;
  }
  
  /* PRODUCTS */

#products {
      margin: 69px 0px 86px 0px;
      width: 1442px;
  }
.block{
      margin: 69px 0px 9px 24px;
      background-color:#ACACAC ;
      width: 1400px;
      height: 281px;
  }
#products h2 {
      margin-left: 22px;
      color: #ffffff;
      font-size: 26px;
      font-family: "OpenSans-Bold";
  }
#products p{
      margin-bottom:5px;
      margin-left: 20px;
      color: #000000;
      font-size: 26px;
      font-family: "OpenSans";
  }
  
footer {
      margin: 0px 99px 9px 101px;
      height: 176px;
      background-color: #cb0d1f;
    }
  




  /* MEDIA QUERY */
  
  
  @media (max-width: 1440px) {
    #head {
      background-color: #cb0d1f;
      height: 54px;
      font-size: 16px;
      font-weight: bold;
    }
    #head ul {
      padding: 15px 50px;
      margin: 0px;
      list-style: none;
    }
    #head ul li {
      display: inline;
      text-align: center;
    }
    #head ul li a {
      padding: 2px 60px 2px 80px;
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    #head ul li a:hover {
      text-decoration: underline;
    }
    /* CATEGORY // FILTER */
    .category {
      display: flex;
    }
    #father-filters {
      margin: 69px 0px 867px 100px;
      width: 361px;
      height: 474px;
      border: 1px solid #e2dedc;
      opacity: 1;
    }
    .filters ul li {
      list-style: none;
    }
    .filters ul li a {
      text-decoration: none;
      color: #626262;
    }
    #h3filter {
      margin: 13px 0px 14px 0px;
      padding-left: 17px;
      color: #ed1a39;
      opacity: 1;
    }
    #h4filter {
      margin: 11px 0px 11px 0px;
      padding-left: 17px;
      color: #1e2b50;
      opacity: 1;
    }
    .category-filters {
      padding-left: 17px;
    }
    .filter1 {
      margin: 1px 0px 8px 0px;
    }
    .h3color {
      color: #1e2b50;
      padding-left: 17px;
      margin: 38px 0px 12px 0px;
    }
    #category-color {
      padding-left: 17px;
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
    .color-one {
      background-color: #cb0d1f;
      margin-bottom: 12px;
      margin-right: 2px;
    }
    .color-two {
      background-color: #f26324;
      margin-right: 2px;
    }
    .color-three {
      background-color: #27a3a9;
      margin-right: 30px;
    }
    .categoryc {
      width: 48px;
      height: 24px;
      opacity: 1;
      list-style-type: none;
    }
    #h4type {
      padding-left: 17px;
      color: #1e2b50;
      opacity: 1;
    }
    .type-filters {
      margin: 15px 0px 0px 0px;
      padding-left: 17px;
      text-align: left;
      letter-spacing: 0px;
      color: #626262;
      opacity: 1;
    }
    .filter2 {
      margin: 1px 0px 8px 0px;
    }
    #products{
      margin: 69px 0px 86px 0px;
      width: 1442px;
  }
  
  /* PRODUCTS */
  #products {
      margin: 69px 0px 886px 0px;
      width: 1140px;
    }
  .side-left {
      display: flex;
      justify-content: flex-end;
      margin-left: 99px;
    }
    .side-left p {
      margin-right: 14px;
      color: #808185;
      font-size: 13px;
      padding: 4px 0px 0px 0px;
    }
  .side-left select{
      width: 216px;
      height: 27px;
      border-radius: 5px;
      background-color: white;
  }
  }
  
  @media (max-width:1024px){
    #head {
      background-color: #cb0d1f;
      height: 54px;
      font-size: 16px;
      font-weight: bold;
    }
    #head ul {
      padding: 15px 30px;
      margin: 0px;
      list-style: none;
    }
    #head ul li {
      display: inline;
      text-align: center;
    }
    #head ul li a {
      padding: 2px 60px 2px 80px;
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    #head ul li a:hover {
      text-decoration: underline;
    }
  }

/* HEADER */

.header-section-1 {
  text-align: right;
  background-color: #231f20;
}
.father-login {
  margin-right: 125px;
}
.login {
  color: white;
  width: 100%;
  height: 31px;
  padding-top: 10px;
}
.login a {
  color: white;
}
.header-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
}
.search input {
  width: 414px;
  height: 44px;
  border: 1px solid #959595;
  padding-left: 5px;
  opacity: 1;
}
.search button {
  font-weight: bold;
  font-size: 16px;
  width: 110px;
  height: 44px;
  opacity: 1;
  background: #cb0d1f;
  letter-spacing: -0.8px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

/* HEAD */

#head {
  background-color: #cb0d1f;
  height: 54px;
  font-size: 16px;
  font-weight: bold;
}
#head ul {
  padding: 15px 290px;
  margin: 0px;
  list-style: none;
}
#head ul li {
  display: inline;
  text-align: center;
}
#head ul li a {
  padding: 2px 60px 2px 80px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#head ul li a:hover {
  text-decoration: underline;
}

/* CATEGORY // FILTER */

.category {
  display: flex;
}
#father-filters {
  margin: 69px 0px 867px 100px;
  width: 261px;
  height: 474px;
  border: 1px solid #e2dedc;
  opacity: 1;
}
.filters ul li {
  list-style: none;
}
.filters ul li a {
  text-decoration: none;
  color: #626262;
}
#h3filter {
  margin: 13px 0px 14px 0px;
  padding-left: 17px;
  color: #ed1a39;
  opacity: 1;
}
#h4filter {
  margin: 11px 0px 11px 0px;
  padding-left: 17px;
  color: #1e2b50;
  opacity: 1;
}
.category-filters {
  padding-left: 17px;
}
.filter1 {
  margin: 1px 0px 8px 0px;
}
.h3color {
  color: #1e2b50;
  padding-left: 17px;
  margin: 38px 0px 12px 0px;
}
#category-color {
  padding-left: 17px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.color-one {
  background-color: #cb0d1f;
  margin-bottom: 12px;
  margin-right: 3px;
}
.color-two {
  background-color: #f26324;
  margin-right: 3px;
}
.color-three {
  background-color: #27a3a9;
}
.categoryc {
  width: 48px;
  height: 24px;
  opacity: 1;
  list-style-type: none;
}
#h4type {
  padding-left: 17px;
  color: #1e2b50;
  opacity: 1;
}
.type-filters {
  margin: 15px 0px 0px 0px;
  padding-left: 17px;
  text-align: left;
  letter-spacing: 0px;
  color: #626262;
  opacity: 1;
}
.filter2 {
  margin: 1px 0px 8px 0px;
}

/* PRODUCTS */

#products {
  margin: 69px 0px 86px 0px;
  width: 1442px;
}
#products h2 {
  margin-left: 22px;
  color: #ed1a39;
  font-size: 32px;
  font-family: "OpenSans-Bold";
}
.side-left {
  display: flex;
  justify-content: flex-end;
  margin-right: 99px;
}
.side-left p {
  margin-right: 14px;
  color: #808185;
  font-size: 13px;
  padding: 4px 0px 0px 0px;
}
.side-left select {
  width: 216px;
  height: 27px;
  border-radius: 5px;
  background-color: white;
}

/* MAIN CARD */

.line-father {
  width: 1420px;
  height: 395px;
}
.line {
  width: 212px;
  height: 233px;
  display: flex;
  margin-left: 20px;
}
.line img {
  width: 196px;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 80px;
}
.line h3 {
  color: #626262;
  font-size: 16px;
  margin-bottom: 5px;
  padding-right: 80px;
  text-align: center;
}
.line p {
  font-size: 21px;
  color: #1e2b50;
  margin-bottom: 5px;
  padding-right: 80px;
  text-align: center;
}
.buy {
  display: flex;
  margin-left: 20px;
  margin-top: 50px;
}
.buy button {
  margin-right: 80px;
  width: 195px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #00a8a9;
}
.order-number ul{
    display: flex;
    padding: 0;
    margin: 0;
    

}
.order-number ul li {
  list-style: none;
}

.order-number ul li a {
    color: rgb(224, 11, 11);
    padding: 8px 16px;
    text-decoration: none;
}

footer {
  margin: 0px 99px 9px 101px;
  height: 176px;
  background-color: #cb0d1f;
}



/* MEDIA QUERY */


@media (max-width: 1440px) {
  #head {
    background-color: #cb0d1f;
    height: 54px;
    font-size: 16px;
    font-weight: bold;
  }
  #head ul {
    padding: 15px 50px;
    margin: 0px;
    list-style: none;
  }
  #head ul li {
    display: inline;
    text-align: center;
  }
  #head ul li a {
    padding: 2px 60px 2px 80px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #head ul li a:hover {
    text-decoration: underline;
  }
  /* CATEGORY // FILTER */
  .category {
    display: flex;
  }
  #father-filters {
    margin: 69px 0px 867px 100px;
    width: 361px;
    height: 474px;
    border: 1px solid #e2dedc;
    opacity: 1;
  }
  .filters ul li {
    list-style: none;
  }
  .filters ul li a {
    text-decoration: none;
    color: #626262;
  }
  #h3filter {
    margin: 13px 0px 14px 0px;
    padding-left: 17px;
    color: #ed1a39;
    opacity: 1;
  }
  #h4filter {
    margin: 11px 0px 11px 0px;
    padding-left: 17px;
    color: #1e2b50;
    opacity: 1;
  }
  .category-filters {
    padding-left: 17px;
  }
  .filter1 {
    margin: 1px 0px 8px 0px;
  }
  .h3color {
    color: #1e2b50;
    padding-left: 17px;
    margin: 38px 0px 12px 0px;
  }
  #category-color {
    padding-left: 17px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  .color-one {
    background-color: #cb0d1f;
    margin-bottom: 12px;
    margin-right: 2px;
  }
  .color-two {
    background-color: #f26324;
    margin-right: 2px;
  }
  .color-three {
    background-color: #27a3a9;
    margin-right: 30px;
  }
  .categoryc {
    width: 48px;
    height: 24px;
    opacity: 1;
    list-style-type: none;
  }
  #h4type {
    padding-left: 17px;
    color: #1e2b50;
    opacity: 1;
  }
  .type-filters {
    margin: 15px 0px 0px 0px;
    padding-left: 17px;
    text-align: left;
    letter-spacing: 0px;
    color: #626262;
    opacity: 1;
  }
  .filter2 {
    margin: 1px 0px 8px 0px;
  }
  #products{
    margin: 69px 0px 86px 0px;
    width: 1442px;
}

/* PRODUCTS */
#products {
    margin: 69px 0px 886px 0px;
    width: 1140px;
  }
.side-left {
    display: flex;
    justify-content: flex-end;
    margin-left: 99px;
  }
  .side-left p {
    margin-right: 14px;
    color: #808185;
    font-size: 13px;
    padding: 4px 0px 0px 0px;
  }
.side-left select{
    width: 216px;
    height: 27px;
    border-radius: 5px;
    background-color: white;
}
}